 body {
    background-color: #080000;
 }  
 h1 {
    color: #ffffff;
    }
form {
    color: #ffffff;
}
body {
    @font-face {
  font-family: DaFont; /* set name */
  src:(Vaseline Extra.ttf); /* url of the font */
}

body {
  font-family: DaFont;
}
}
.content-table th, .content-table td {
    border-collapse: collapse;
        margin: 25px 0;
        font-size: .9em;
        min-width: 200px;
        color: #ffffff;
    }
 .content-table thead tr {
        background-color: #1409f3;
        color: #ded3d3;
        text-align: center;
    }
.content-table th, .content-table td {
        padding: 12px 15px;
        border: 1px solid #9c0808e5;
    }
.content-table tbody tr {
        border-bottom: 1px solid #dddddd;
        text-align: center;
        background-color: #f20707;
    }
.content-table tbody tr:nth-of-type(even) {
        background-color: #f4d90c;
    }

